@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Oswald&family=Quicksand:wght@300;400;700&display=swap');
:root {
    --main-col:#00303F;
    --sec-col:#b18b15;
    /* --sec-col:#e9112e; */
    --main-font: Quicksand;
    --sec-font: Lato;
}

*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--sec-font), sans-serif;
    color: var(--main-col);
}

body {
    font-weight: 300;
    text-align:center;
     display:flex;
     flex-direction:column;
     min-height:100vh;
}

h1, h2 {
    font-family: var(--main-font), sans-serif;
    letter-spacing: 4px;
    color: var(--main-col);
}

/* Style Nav Menu */
.container {
	width: 960px;
	max-width: 100%;
	padding: 10px;
	margin: 0 auto;
}

.main-header .container{
    display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.main-header {
border-bottom: 1px solid rgba(0,48,63,0.25);
}

.main-nav {
    line-height: 30px;
    font-size: 110%;
    letter-spacing: 1px;
    font-weight:400;
}

.main-nav i {
        font-size: 110%;
        color: var(--sec-col);
}

.main-nav ul {
	text-align: center;
}

.main-nav li {
	display: inline;
}
.main-nav a {
	display: inline-block;
	padding: .5em 1.5em;
}

.main-nav a:hover {
    color: var(--sec-col);
    font-weight: bold;
}

#phone-bg-color {
    color:var(--sec-col);
    font-weight: bold;
}

#phone-bg-color:hover{
    background-color:var(--main-col);
}

/* @media (min-width: 960px) {
	.main-header .container {
		justify-content: space-between;
	}
} */

/* Style Logo */
#logo-container {
    height: 50px;
    width: 100%;
    padding-left: 10px;
    margin-top: 10px;
}

#logo-outer {
    height: 100%;
    float: left;
}

#logo {
    width:50px;
    height: 50px;
    float: left;
    margin-right: 10px;
    background: url('../images/Logo1.svg') no-repeat center center;
    background-size: cover;
}

#logo-text {
    float: left;
    font-size: 180%;
    text-align: left;
    line-height: 25px;
    height:100%;
    font-family: var(--main-font), sans-serif;
    font-weight: 400;
}

#logo-outer:hover #logo-text { 
    color: var(--sec-col);
}

#logo-outer:hover #logo { 
    background: url('../images/Logo2.svg') no-repeat center center;
    background-size: cover;
}

/* Style Hero image */
#hero-outer{
    height:600px;
    width:100%;
    overflow: hidden;
    position: relative;
    /* margin-top: 6px; */
}

#hero-image {
    height:600px;
    width:100%;
    background: url('../images/pexels-masood-aslami-11178057\ \(2\).jpg') no-repeat center center;
}

/* Style hero image cover text */
#cover-text {
    font-size: 150%;
    letter-spacing: 4px;
    
    width: 300px;
    height: 150px;
    
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;

    background-color: rgba(255, 255, 255, 0.8);

    bottom: 10px;
    right: 10px;
    
    position: absolute;
}

#cover-text h3, #cover-text h2 {
    color:var(--main-col);
    text-align: center;
    font-weight: bold;
}

/* Style banner */
#services {
    display:flex;
    flex-flow: wrap;
    flex:auto;
    height:auto;
    max-width:843px; /* Adjust if image sizes change */
    text-align: Left;
    margin: 0 auto;
    margin-top: 30px;
    /* padding-bottom: 30px; */
}

#sec-col-head {
    text-align: left;
    font-size: 150%;
    color: var(--sec-col);
}

#services-heading {
    display:flex;
    padding-top: 10px;
    padding-left: 10px;
    width: 33%;
    float: left;
    text-align: left;
}

.service-p {
    display:flex;
    padding: 10px 0px 20px 50px;
    /* padding-top: 20px;
    padding-left: 50px;
    padding-right: 0px;
    padding-bottom: 20px; */
    width: 33%;
    float: left;
}

#service-images{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
    width:100%;
    padding-right: 5%;
    padding-left: 5%;
}

#service-images div{
    display:flex;
    background-color: rgba(0, 0, 0, 0.05);
    background-repeat: no-repeat;
    background-position: 50% 50%; 
    width: 275px;
    height: 200px;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
    box-sizing: border-box;
    align-items:center;
    justify-content:center;

}

#service-images div:hover{
    margin: 3px;
    border-radius: 5px;
    color: transparent;
    animation-name: service-zoom;
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
}

#service-images div:hover h2{
    color: transparent;  
}

/* creates the level of zoom for hero image */
@keyframes service-zoom{
    from{
        transform: scale(1.0);
    }
    to{
        transform: scale(1.05);
    }
}

#Eng-surveys:hover {
    background-image: url('../images/ts.webp');  
}

#BIM:hover {
    background-image: url('../images/BIM.webp');  
}

#UAV:hover {
    background-image: url('../images/UAV.webp');  
}

#topo:hover {
    background-image: url('../images/topo.webp');  
}

#laser:hover { 
    background-image: url('../images/laser-scanner-2.webp');  
}

#monitor:hover {
    background-image: url('../images/monitoring-prism.webp');  
}

#util:hover {
    background-image: url('../images/util-mapping.webp');  
}

#network:hover {
    background-image: url('../images/network.jpg');  
}

#service-images h2 {
    color: var(--sec-col);
    font-size: 125%;
}

#service-images a {
    overflow:hidden;
    border-radius: 5px;
}

/* Footer Styling */
#footer-main {
    border-top: 1px solid rgba(0,48,63,0.25);
    margin-top: 30px;
    width:100%;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
    padding: 0px;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 1% 3% 1% 3%;
    color: rgba(0,48,63,0.75);
}

.fa-github:hover{
    color: #171515;
}

.fa-square-twitter:hover{
    color: #00acee;
}

.fa-facebook:hover{
    color: #4267B2;
}

.fa-instagram:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.copyright {
    border-top: 1px solid rgba(0,48,63,0.25);
    padding: 5px;
    text-align: center;
}

/* Style contact page */
#contact-container {
    display:flex;
    flex-flow: wrap;
    /* flex-direction: column; */
    flex:auto;
    height:auto;
    width:843px; /* Adjust if image sizes change */
    text-align: Left;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0, 10%, 0, 10%;
}

#lhs-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#contact-info {
    width: 100%;
    height: 250px;
    background-color: red;
}

#contact-info h2{
    width:100%;
    background-color: white;
}

#contact-info > ul{
    /* list-style: none; */
    background-color:#d6249f;
    padding: 0px 0 0 10px;
}

#contact-info li{
    list-style: none;
    /* background-color:#d6249f; */
    padding-top: 30px;
    /* font-size: 110%; */
}

#contact-info i {
    font-size: 160%;
    padding: 1% 3% 1% 3%;
    color: rgba(0,48,63,0.75);
}

#contact-map {
    display:flex;
    width: 100%;
    height: 350px;
    background-color: lightblue;
    border-radius: 10px;
    overflow:hidden;
    border: 1px solid rgba(0,48,63,0.25);
}

#contact-table {
    display:flex;
    width: 50%;
    height: 600px;
    background-color: orange;
}

/* media queries */
@media screen and (max-width: 1622px) {
    #services {
        /* flex:auto; */
        /* height:auto; */
        width:900px;
        text-align: Left;
        margin: 0 auto;
        margin-top: 30px;
    }
}

/* @media screen and (max-width: 953px) {
    #services {
        width:562px;
    }
} */

@media screen and (max-width: 953px) {

    #services {
        width:562px;
        margin: 0 auto;
        margin-top: 30px;
        /* padding-bottom: 30px; */
    }

    #services-heading {
        width:100%;
    }

    .service-p {
        width: 50%;
        padding-bottom: 10px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 642px) {
    #services {
        flex:auto;
        height:auto;
        width:100%;
        text-align: Left;
        margin: 0 auto;
        padding-right: 10px;
        padding-left: 10px;
        /* margin-top: 30px; */
        /* padding-bottom: 30px; */
    }

    .service-p {
        width: 100%;
    }

    #service-images{
        width:100%;
        padding-right: 10px;
        padding-left: 10px;
    }
}

/* Contact page media queries */
@media screen and (max-width: 900px) {
    #contact-container {
        width:500px; /* Adjust if image sizes change */
        text-align: center;
    }
    
    #lhs-container {
        width: 100%;
    }

    #contact-info > ul{
        padding: 0;
    }

}

@media screen and (max-width: 550px) {
    #contact-container {
        width:300px; /* Adjust if image sizes change */
        text-align: center;
    }
}