@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Oswald&family=Quicksand:wght@300;400;700&display=swap');
:root {
    --main-col:#00303F;
    --sec-col:#b18b15;
    /* --sec-col:#e9112e; */
    --main-font: Quicksand;
    --sec-font: Lato;
}

*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--sec-font), sans-serif;
    color: var(--main-col);
}

body {
    font-weight: 300;
}

h1, h2 {
    font-family: var(--main-font), sans-serif;
    /* text-transform: uppercase; */
    letter-spacing: 4px;
    color: var(--main-col);
}

#logo-container {
    height: 70px;
    width: 100%;
    padding-left: 10px;
    margin-top: 10px;
}

#logo-outer {
    height: 100%;
    float: left;
}

#logo {
    width:70px;
    height: 70px;
    float: left;
    margin-right: 10px;
}

#logo-text {
    float: left;
    font-size: 180%;
    text-align: left;
    line-height: 35px;
    height:100%;
    font-family: var(--main-font), sans-serif;
    font-weight: 400;
}

/* Globe icon styling */
.orb1, .orb2, .orb3{
    top:37px;
    height: 15px;
    width: 68px;
    border-radius: 50%;
    border: 1px dashed var(--sec-col);
    position: absolute;
    transform: rotate(10deg);
}

.orb2 {
    transform: rotate(70deg);
}

.orb3 {
    transform: rotate(-50deg);
}

.orb4 {
    height: 68px;
    width: 68px;
    border-radius: 50%;
    border: 1px solid var(--sec-col);
    position: absolute;
}

#logo-outer:hover .orb1 { 
    animation: spin 15s infinite linear;
    border-color: var(--main-col)
}

#logo-outer:hover .orb2 { 
    animation: spin 15s infinite linear;
    border-color: var(--main-col)
}

#logo-outer:hover .orb3 { 
    animation: spin 15s infinite linear;
    border-color: var(--main-col)
}

#logo-outer:hover .orb4 { 
    border-color: var(--main-col)
}

#logo-outer:hover #logo-text { 
    color: var(--sec-col);
}

@keyframes spin {
    100% {
      transform: rotate(360deg);
    }
}

/* Style nav items */

#menu{
    line-height: 60px;
    font-size: 110%;
    letter-spacing: 2px;
    font-weight:400;
}

#menu a{
    color:inherit;
    display: block;
    width: 100%;
    height: 100%;
}
#menu li{
    float: right;
    list-style: none;
    margin-right: 20px;

}

#menu a:hover {
    color: var(--sec-col);
    font-weight: bold;
}

#menu i {
    font-size: 110%;
    padding-left: 20px;
    color: var(--sec-col);
}

.phone-bg-color {
    color:var(--sec-col);
    font-weight: bold;
    padding-right: 15px;
}

.phone-bg-color:hover{
    background-color:var(--main-col);
}

#hero-outer{
    height:600px;
    width:100%;
    overflow: hidden;
    position: relative;
    margin-top: 6px;
}

#hero-image {
    height:600px;
    width:100%;
    background: url('../images/pexels-masood-aslami-11178057\ \(2\).jpg') no-repeat center center;
}

/* Style hero image cover text */

#cover-text {
    font-size: 150%;
    /* text-transform: uppercase; */
    letter-spacing: 4px;
    
    width: 300px;
    height: 150px;
    
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;

    background-color: rgba(255, 255, 255, 0.8);

    bottom: 10px;
    right: 10px;
    
    /* border-radius: 30px 10px 30px 10px; */
    
    position: absolute;
}

#cover-text h3, #cover-text h2 {
    color:var(--main-col);
    text-align: center;
    font-weight: bold;
}

/* Style banner */

#services {
    display:flex;
    flex-flow: wrap;
    flex:auto;
    height:auto;
    width:1124px; /* Adjust if image sizes change */
    text-align: Left;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 30px;
}

#sec-col-head {
    text-align: left;
    font-size: 150%;
    color: var(--sec-col);
}

#services-heading {
    display:flex;
    padding-top: 10px;
    padding-left: 25px;
    width: 33%;
    float: left;
    text-align: left;
}

.service-p {
    display:flex;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    /* letter-spacing: 1px;
    word-spacing: 2px; */
    width: 33%;
    float: left;
}

#service-images{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
    width:100%;
    padding-right: 15%;
    padding-left: 15%;
}

#service-images div{
    display:flex;
    background-color: rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    background-position: 50% 50%; 
    width: 275px;
    height: 200px;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
    box-sizing: border-box;
    align-items:center;
    justify-content:center;

}

#service-images div:hover{
    margin: 3px;
    border-radius: 5px;
    /* filter:none; */
    color: transparent;
    animation-name: service-zoom;
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
}

#service-images div:hover h2{
    color: transparent;  
}

/* creates the level of zoom for hero image */
@keyframes service-zoom{
    from{
        transform: scale(1.0);
    }
    to{
        transform: scale(1.1);
    }
}

#Eng-surveys:hover {
    background-image: url('../images/ts.webp');  
}

#BIM:hover {
    background-image: url('../images/BIM.webp');  
}

#UAV:hover {
    background-image: url('../images/UAV.webp');  
}

#topo:hover {
    background-image: url('../images/topo.webp');  
}

#laser:hover { 
    background-image: url('../images/laser-scanner-2.webp');  
}

#monitor:hover {
    background-image: url('../images/monitoring-prism.webp');  
}

#util:hover {
    background-image: url('../images/util-mapping.webp');  
}

#network:hover {
    background-image: url('../images/network.jpg');  
}

#service-images h2 {
    color: var(--sec-col);
    font-size: 125%;
}

#service-images a {
    overflow:hidden;
    border-radius: 5px;
}

.social-networks {
    text-align: center;

}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: RGBa(0,48,63,0.75);
}

.fa-github:hover{
    color: #171515;
}

.fa-square-twitter:hover{
    color: #00acee;
}

.fa-facebook:hover{
    color: #4267B2;
}

.fa-instagram:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}



/* media queries */

@media screen and (max-width: 1622px) {
    #services {
        width:843px;
    }
}

@media screen and (max-width: 950px) {

    #services {
        width:90%;
        margin: 0 auto;
        margin-top: 30px;
        padding-bottom: 30px;
    }

    #services-heading {
        width:100%;
    }

    .service-p {
        width: 50%;
    }
}

@media screen and (max-width: 800px) {
    #services {
        flex:auto;
        height:auto;
        width:100%;
        text-align: Left;
        margin: 0 auto;
        margin-top: 30px;
        padding-bottom: 30px;
    }

    .service-p {
        width: 100%;
    }

    #service-images{
        width:100%;
        padding-right: 0;
        padding-left: 0;
    }
}

